/*efect oscuro*/
.modal,.modal_agregar_cantidad,.modalAgregarCantid,.formularioPrestamo,.formularioDevolucion,.verMotivo{
  background:rgba(0,0,0,0.25);
  position: absolute;
  top: 0%;
  left: 0%;
  width:100%;
  height:100%;
  display:none;
}

/*      FORM INPUT                */
/*********************************/
/*        DE: JOSE           */
.form-group{
  margin-top: 10px;
}
.box_form{
    position: absolute;
    width: 500px;
    left: 385px;
    top: 140px;
    background: #FFFFFF;
    border: 3px solid var(--blue--bold);
    box-sizing: border-box;
    border-radius: 10px;
}
.label_group{
  font-family: var(--font-quicksandMedium);
 }
 /*reutilizar en un solo textinput */
.input_txt,.input_txt_50{
  margin-top: 10px;
  height: 38px;
  border: 1px solid #000000;
  box-sizing: border-box;
  padding-left: 10px;
  border-radius: 10px;
  font-family: var(--font-quicksandRegular);
}
.input_txt_50{
  width:95%;
}

.input_txt{
  width:100%;
}

.btn_box{
  width: 150px;
  height: 35.3px;
  margin-left: 50px;
  text-align: center;
  border-radius: 12px;
  color:white;
   border: none;
  font-family: var(--font-quicksandRegular);
  cursor: pointer;
}

.title_form{
    text-align: left;
    color: var(--blue--bold);
    font-weight: normal;
    font-size: 30px;
    line-height: 20px;
    margin-bottom: 20px;
    font-family:  var(--font-quicksandBold);
}

.btn_close{
  position: absolute;
  width:28px;
  height:26px;
  background: var(--danger);
  border:none;
  border-radius:3px;
  color:#FFFFFF;
  right: -15px;
  top: -10px;
 }

/*SEARCH INPUT*/
.search_inputBox{
  margin-top: 60px;
  position: relative;
  font-size: 25px;
}
.search_input{
 width: 300px;
 box-sizing: border-box;
 border-radius: 4px;
 padding: 10px;
   outline:none;
   border: 1px solid var(--crimson);
   font-size: 17px;
   font-family: var(--font-quicksandMedium);
}
.search_inputBox input[type=text]{
  padding-left:40px;
}
.search_inputBox i{
  position:absolute;
  left:0;
  top:8px;
  padding:5px;
  line-height:20px;
  margin-left: 5px;
  color:var(--crimson);
}



/*       CIERRE DE FORM Y INPUTS              */
/***********************************************/


/*REUTILIZAR ESTILOS Y OPTIMIZAR , PUEDES REUTILIZAR ALGUNOS INPUTS DE LA PARTE DEL COMPONENTE FORM DE ARRIBA */
/*REVISAR  */

.form_administrarMat{
  position: absolute;
  width: 440px;
  height: 330px;
  background: #FFFFFF;
  border: 1px solid #4064E3;
  box-sizing: border-box;
  border-radius: 10px;
  left: 385px;
  top: 140px;
}

.buscarEstudiante button{
  width: 110px;
  height: 33px;
  margin-left: 35px;
  text-align: center;
  border-radius: 12px;
  background: #780000;
  Color: #fff;
  position:absolute;
  top:25%;
  left:60%;
  border:none;
}

.buscarEstudiante button:hover{
  background:#7d1515;
}

/*ESTILOS DEL FORMULARIO DEVOLUCION*/
.areaDevolucion{
  padding:8px;
  position:absolute;
  top:18%;
}

.textarea{
  width:390px;
  height: 150px;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 10px;
  /* position:absolute; */
  left:13%;
  margin:10px;
  margin-top:50px;
}

/*ESTILOS DEL FORMULARIO VER MOTIVO*/
.saludoMundo{
  background: green;
}
