/*efect oscuro*/
.modal,.modal_agregar_cantidad,.modalAgregarCantid,.formularioPrestamo,.formularioDevolucion,.verMotivo,.modal_verform-apoderado{
  background:rgba(0,0,0,0.25);
  position: fixed;
  top: 0%;
  left: 0%;
  width:100%;
  height:100%;
  display:none;
}

/*      FORM INPUT                */
/*********************************/
/*        DE: JOSE           */
.form-group{
  margin-top: 10px;
}
.box_form,.verform-apoderado,.form_administrarMat,.formVerApoderado{
    position: absolute;
    width: 500px;
    left: 550px;
    top: 80px;
    background: #FFFFFF;
    border: 3px solid var(--blue--bold);
    box-sizing: border-box;
    border-radius: 10px;
    z-index: 9999;
}
.label_group{
  font-family: var(--font-quicksandMedium)
 }
 /*reutilizar en un solo textinput */
.input_txt,.input_txt_50{
  margin-top: 10px;
  height: 38px;
  border: 1px solid #000000;
  box-sizing: border-box;
  padding-left: 10px;
  border-radius: 10px;
  font-family: var(--font-quicksandRegular);
}
.input_txt_50{
  width:95%;
}
#vermotivo{
  font-family: var(--font-quicksandRegular);
  font-size: 15px;
  padding-left: 5px;
  padding-top: 5px;
}

.input_txt{
  width:100%;
}

.btn_box{
  width: 150px;
  height: 35.3px;
  margin-left: 50px;
  text-align: center;
  border-radius: 12px;
  color:white;
   border: none;
  font-family: var(--font-quicksandRegular);
  cursor: pointer;
}

.title_form{
    text-align: left;
    color: var(--blue--bold);
    font-weight: normal;
    font-size: 30px;
    line-height: 20px;
    margin-bottom: 20px;
    font-family:  var(--font-quicksandBold);
}

.btn_close,.btn_closeApoderado{
  position: absolute;
  width:28px;
  height:26px;
  background: var(--danger);
  border:none;
  border-radius:3px;
  color:#FFFFFF;
  right: -15px;
  top: -10px;
 }
/*hide password microsoft edge*/
  input::-ms-reveal,
      input::-ms-clear {
        display: none;
      }

/*SEARCH INPUT*/
.search_inputBox{
  margin-top: 60px;
  position: relative;
  font-size: 25px;
}
.dataTables_wrapper .dataTables_filter input{
 width: 300px;
 box-sizing: border-box;
 border-radius: 4px;
 padding: 10px;
   outline:none;
   border: 1px solid var(--crimson);
   font-size: 17px;
   font-family: var(--font-quicksandMedium);
}
.dataTables_wrapper .dataTables_filter input input[type=text]{
  padding-left:40px;
}
/* .dataTables_wrapper .dataTables_filter input i{
  position:absolute;
  left:0;
  top:8px;
  padding:5px;
  line-height:20px;
  margin-left: 5px;
  color:var(--crimson);
} */



/*       CIERRE DE FORM Y INPUTS              */
/***********************************************/


/*REUTILIZAR ESTILOS Y OPTIMIZAR , PUEDES REUTILIZAR ALGUNOS INPUTS DE LA PARTE DEL COMPONENTE FORM DE ARRIBA */
/*REVISAR  */


.buscarEstudiante button{
  width: 110px;
  height: 33px;
  margin-left: 35px;
  text-align: center;
  border-radius: 12px;
  background: #780000;
  Color: #fff;
  position:absolute;
  top:25%;
  left:60%;
  border:none;
}

.buscarEstudiante button:hover{
  background:#7d1515;
}

/*ESTILOS DEL FORMULARIO DEVOLUCION*/
.areaDevolucion{
  padding:8px;
  position:absolute;
  top:18%;
}

.textarea{
  width:390px;
  height: 150px;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 10px;
  /* position:absolute; */
  left:13%;
  margin:10px;
  margin-top:50px;
}

/*ESTILOS DEL FORMULARIO VER MOTIVO*/
.saludoMundo{
  background: green;
}


/*ESTILOS DEL NOTFOUND*/

.background-notFound{
  background: linear-gradient(blue -500%, white 99%);
  position:absolute;
  width:100%;
  height:100vh;
  top:0;
  left:0;
  right:0;
}

.bush{
  position:absolute;
  right:70%;
  top:3%;
}

.person{
  position:absolute;
  left:65%;
  top:28%;
}

.box-notFound{
  position:absolute;
  top:160px;
  left:440px;
  text-align:center;
}

.head-notFound{
  color:#303777;
  font-size:35px;
  font-family: var(--font-quicksandMedium);
}

.body-notFound{
  color:#FF7A00;
  font-size:70px;
  font-family: var(--font-quicksandMedium);
}
.btn-volverInicio{
  width: 230px;
  height: 20px;
  border-radius: 12px;
  background: #2F3676;
  Color: #fff;
  outline: none;
  box-shadow: none;
  border:none;
  font-family: var(--font-quicksandMedium);
}
