@import "./variables.css";
*{
  padding:0px;
  margin: 0px;
}
/*login */
section{
  position:relative;
  width: 100%;
  height:100vh;
  display:flex;
}
#message_login{
  color: var(--vine);
  font-family: var(--font-quicksandMedium);
  font-size: 17px;
}

section .imgBx{
  position:relative;
  width:50%;
  height:100%;
}

section .imgBx:before{
  content:'';
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index:1;
  mix-blend-mode:screen;
}

section .imgBx img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

section .contentBx{
  justify-content: center;
  align-items: center;
  display: flex;
  width: 50%;
  height: 100%;
}

section .contentBx .formBx{
  width: 65%;
}



section .contentBx .formBx .inputBx{
  margin-bottom:20px;
  border-bottom: 2px solid #ffa3a3;
}

section .contentBx .formBx .logo img{
  display:block;
  margin:auto;
}

section .contentBx .formBx .inputBx span{
  font-size: 16px;
  margin-bottom: 15px;
  display:inline-block;
  color:#607d8b;
  font-size:16px;
  font-family: var(--font-quicksandMedium);
  letter-spacing:1px;
}

section .contentBx .formBx .inputBx input{
  width:100%;
  padding:0px 5px;
  outline:none;
  font-family: var(--font-quicksandRegular);
  border:none;
  font-size: 16px;
  letter-spacing: 1px;
  color:#607d8b;
  background:transparent;
}

section .contentBx .formBx .ingresar input{
  width:100%;
  padding:12px 10px;
  outline:none;
  font-weight:400;
  border:none;
  font-size: 16px;
  letter-spacing: 1px;
  color:#607d8b;
  background:transparent;
  border-radius:11px;
  margin-top: 10px;
}

section .contentBx .formBx .ingresar input[type="submit"]{
  background: var(--crimson);
  color:#fff;
  outline:none;
  border:none;
  font-family: var(--font-quicksandBold);
  cursor:pointer;
  font-size: 20px;
}

section .contentBx .formBx .ingresar input[type="submit"]:hover{
  background:#e31b29;
}
/*400px es la medida para celular*/
@media (max-width: 768px){
  section .imgBx{
   position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
  }

  section .contentBx{
    display:flex;
    justify-content:center;
    align-items:center;
    width:100%;
    height:100%;
    z-index:1;
  }

  section .contentBx .formBx{
    width:100%;
    padding:40px;
    background: rgb(255 255 255 / 0.9);
    margin:50px;
  }
}

@media (max-width: 422px){
  section .imgBx{
   position:absolute;
    top:0;
    left:0;
    height:60%;
  }

  section .contentBx .formBx .logo img{
    display:block;
    margin:0px 190px;
    width:20%;
}

  section .contentBx{
    display:flex;
    justify-content:center;
    align-items:center;
    width:100%;
    height:100%;
    z-index:1;
  }

  section .contentBx .formBx{
    position:absolute;
    width:100%;
    padding:30px;
    background: rgb(255 255 255 / 0.9);
    margin:0px;
    bottom:0px;
    border-top: 20px solid transparent;
    clip-path: polygon(100% 2%, 0% 30%, 0% 100%, 100% 100%);
  }
}

/*END LOGIN*/

.container{
  padding:50px;
  margin:auto;
  width:95%;
}

/*tabla en general */
.estudiantes{
  background: white;
  margin: 0 auto;
  width: 800px;
  padding: 20px;
  box-shadow: 0px 0px 10px
}

.estudiantes label{
  background-color: green;
}


table{
  width: 50%;
  border: 1px;
  }

h1{
  text-align: center;
  color: green;
}


/*tabla diseño aqui*/

.cont_Table {
    width: 100%;
    padding-top:20px;
    margin: auto;

  }

.table-general{
    width: 100%;
    height: 350px;
    border: 1px solid #ccc;
    border-collapse: collapse;
    overflow-y:scroll;
    display:inline-block;
  }

.table-general th, .table-general td {
    width: 250px;
    font-size: 16px;
    padding: 8px;
    text-align: center;
    font-family: var(--font-quicksandMedium);
  }
.table-general thead{
  position:sticky;
  top:0;
}
.table-general thead th{

    text-transform: uppercase;
    background-color: #00C7A3;
    font-family: var(--font-quicksanLight);
}


/*********************/
/************ BUTTONS TABLE  CSS TABLES
/******************/
.btn_VerMotivo,.btn_OtorgarLibro,.btn_Devolucion{
  width: 110px;
  height:26px;
  margin-left: 50px;
  text-align: center;
  border-radius: 12px;
  color:white;
  border: none;
  cursor: pointer;
}
.btn-delete,.btn-apafa{
    width:28px;
    height:26px;
    background: #E92453;
    border:none;
    border-radius:3px;
    color:#ffffff;
}
.btn-edit,.btn-print{
    width:28px;
    height:26px;
    border:none;
    border-radius:3px;
}
.btn-edit{
   background: #FFC300;
    color:#ffffff;
}
.btn-print{
  margin-top:5px;
  background: #CBCBCB;
}
.btn-apafa{
    background: var(--teal-light);
    width:80px;
}
/*badges payments*/
.available,.inactive,.damage{
    border:none;
    border-radius:10px;
    color:white;
    padding:5px;
    width:100px;
    margin:auto;
}
.inactive{
  background: var(--crimson)
}
.available{
   background: var(--success);
}
.damage{
   background: #FFC300;
}
.rowsEmpty{
  font-size: 25px;
  color: var(--crimson);
  font-family: var(--font-quicksandMedium);
  display: flex;
  justify-content: center;
}
/* dashboards  style */

/*----------------Styles in Inicio---------------------*/

/*----------------Director--------------------*/
.carddashboard,
.userControlComponent{
  background: #FFFFFF;
  border: 1px solid #C4C4C4;
  box-sizing: border-box;
  border-radius: 22px;
  padding: 20px;
  box-shadow:0 1px 1px rgba(0,0,0,0.08),0 2px 2px rgba(0,0,0,0.12),0 4px 4px rgba(0,0,0,0.16),0 8px 8px rgba(0,0,0,0.2);  margin-top:20px;
}
.carddashboard{
  width:45%;
}
.carddashboard,.form-groupApoderado label{
  font-family: var(--font-quicksandMedium);
  font-size:22px;
}
.box_card_total{
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.box_card_total,.form-groupApoderado p{
  font-size: 25px;
  font-family: var(--font-quicksandBold);
  color: var(--vine);
}
.userControlComponent{
  width:100%;
  height:250px;
}
.tblUserControlComponent{
  width:100%;
  height:100%;
  font-weight: bold;
  line-height: 20px;
  border-collapse: collapse;
}
.tblUserControlComponent td,
.tblUserControlComponent th{
  text-align:center;
}

.tblUserControlComponent thead th{
  border-bottom: 1px solid rgba(0,0,0,0.16);
  padding: 10px;
  font-size: 18px;
  font-family: var(--font-quicksandRegular);
}
.tblUserControlComponent td{
  font-size: 17px;
  font-family: var(--font-quicksanLight);
}
/*-----------------secretaria----------------------*/
.componentLastPayAPAFA{
  background: #ffffff;
  width:96.15%;
  height:250px;
  margin-top:20px;
  border-radius: 20px;
  padding: 20px;
  box-shadow:0 1px 1px rgba(0,0,0,0.08),0 2px 2px rgba(0,0,0,0.12),0 4px 4px rgba(0,0,0,0.16),0 8px 8px rgba(0,0,0,0.2);
}
.titleLastPayApafa{
  font-weight: bold;
  color: #780000;
  padding: 10px 10px;
  font-size: 23px;
  font-family: var(--font-quicksandRegular);
}
.componentLastPayAPAFA label{
  font-size: 20px;
  font-family: var(--font-quicksandRegular);
  color: var(--blue--bold);
}
.componentLastPayAPAFA p{
  font-family: var(--font-quicksandMedium);
  font-size: 19px
}
.compLastPayAPAFADivs{
  padding: 20px;
  display: flex;
}
.compLastPayAPAFADivsSDF{
  text-align:left;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.contenidoLastayApafa{
  color: #000000;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 15px;
  line-height: 20px;
}
.compLastPayAPAFADivsSDF label{
  width:35%;
}
.compLastPayAPAFADivsSDFD{
  display: flex;
}


/*buttons css */
/******************/
.btn_add_data,.button_search{
  width: 170px;
  height: 40px;
  font-size: 15px;
  border-radius: 10px;
  border:none;
  margin-top:10px;
  color:white;
  font-family: var(--font-quicksandRegular)
}
.btn-search{
  height: 30px;
  width:150px;
  margin-top: 5px;
  margin-left: 20px;
  border-radius: 10px;
  border: none;
  color:white;
  font-family: var(--font-quicksandBold);
  background-color: var(--vine);
}
.btn_add_data{
   background: var(--vine);
}
.button_search{
   background: rgba(120, 0, 0, 0.7);
   margin-top: 20px;
}
button{
  cursor: pointer;
}
.fa-lg{
  margin-right:10px;
}
.textBack{
  cursor: pointer;
  font-family: var(--font-quicksandRegular);
  font-size: 25px;
  color: var(--blue--bold);
}
.checkFilter{
  font-size: 20px;
    font-family: var(--font-quicksandRegular);
    margin-left: 20px;
}
.check-estado p{
  font-size: 25px;
  font-family: var(--font-quicksandMedium);
  margin-top: 10px;
  margin-bottom: 10px;
}
#btn-document{
  background: rgba(120, 0, 0, 0.5);
}
.checkBoxFilter{
  width:20px;
  height: 20px;
}

/*end button css*/
/*************************/

/*RESPONSIVE*/
@media screen and (max-width: 600px) {
    .table-general {
        border: 0px;
    }
    .table-general caption {
        font-size: 22px;
    }
    .table-general thead {
        display: none;
    }
    .table-general tr {
        margin-bottom: 8px;
        border-bottom: 4px solid #ddd;
        display: block;
    }
    .table-general th, .table td {
        font-size: 12px;
    }
    .table-general td {
        display: block;
        border-bottom: 1px solid #ddd;
        text-align: right;
    }
    .table-general  td:last-child {
        border-bottom: 0px;
    }
    .table-general td::before {
        content: attr(data-label);
        font-weight: bold;
        text-transform: uppercase;
        float: left;
    }
}




/*card querys styles*/
.card_search{
  width: 60%;
  padding:10px 10px;
  height:120px;
  margin:auto;
  border:1px solid var(--crimson);
}
.total_filter{
  margin-top: 10px;
  text-align: center;
  font-style: 14px;
  color:var(--blue--bold);
  font-family: var(--font-quicksandBold);
}


/*estilos danger*/

/*a{
background: #e6e6e6;
color: green;
text-decoration: none;
padding: 5px 15px;
border: 1px solid #c1c1c1;
width: 100px;
display: inline-block;
text-align: center;
}*/
