@import "./variable.css";
*{
  padding:0px;
  margin: 0px;
}

.fondo {
   height:100%;
  width:100%;
background:url(https://res.cloudinary.com/df3uvqrte/image/upload/v1619064425/backgorund_login_h0umxd.jpg)no-repeat fixed center;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
height: 100%;
width: 100% ;
text-align: center;
}

.Login-box{
position: absolute;
width: 370px;
height: 339px;
left: 50%;
top: 50%;
background: linear-gradient(180deg, #778CA3 0%, rgba(255, 255, 255, 0) 100%), rgba(58, 55, 47, 0.72);
border-radius: 36px;
transform: translate(-50%, -50%);
}

.Login-box .avatar{
  width:150px;
  height:150px;
  position:absolute;
  top:10px;
  left: calc(50% - 70px);
}

.Login-box .input{
  width:100%;
  margin-botoom:20px;
}

.Login-box .user{
position: absolute;
width: 300px;
height: 38px;
left: 30px;
top: 160px;
background: #778CA3;
border-radius: 15px;
color: #ffffff;
box-shadow: -1px 4px 10px 0 #504846;
border:none;
outline:none;
}

.Login-box .user::-webkit-input-placeholder {
  text-align: center;
  line-height: 100px;
  color:#fff;
}

.Login-box .contra{
position: absolute;
width: 300px;
height: 38px;
left: 30px;
top: 215px;
background: #778CA3;
border-radius: 15px;
color: #ffffff;
box-shadow: -1px 4px 10px 0 #504846;
border:none;
outline:none;
}

.Login-box .contra::-webkit-input-placeholder {
  text-align: center;
  line-height: 100px;
  color:#fff;
}

.Login-box .ingresar{
 position: absolute;
 cursor:pointer;
width: 220px;
height: 38px;
left: 71px;
top: 280px;
background: #201F1F;
border-radius: 11px;
color:#fff;
box-shadow: -1px 4px 10px 0 #575353;
box-shadow: inset 0 0 5px 0px #484343;
border:none;
}
.container{
  padding:50px;
}

/*tabla en general */
.estudiantes{
  background: white;
  margin: 0 auto;
  width: 800px;
  padding: 20px;
  box-shadow: 0px 0px 10px
}

.estudiantes label{
  background-color: green;
}


table{
  width: 50%;
  border: 1px;
  }

h1{
  text-align: center;
  color: green;
}

button{
  cursor: pointer;
}
/*tabla diseño aqui*/

.cont_Table {
    width: 100%;
    /*max-width: 1000px;*/
    padding-top:20px;
    margin: auto;
}

.table-general{
    width: 100%;
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    table-layout: fixed;
}


.table-general tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
}

.table-general th, .table-general td {
    font-size: 16px;
    padding: 8px;
    text-align: center;
    font-family: var(--font-quicksandMedium);
}

.table-general thead th{ 
    text-transform: uppercase;
    background-color: #00C7A3;
    font-family: var(--font-quicksanLight);
}
/*********************/
/************ BUTTONS */
/******************/
.btn_TblDelete,.btn_TblDeleteEs{
    width:28px;
    height:26px;
    background: #E92453;
    border:none;
    border-radius:3px;
    color:#ffffff;
} 
.btn_TblUpdate{
    width:28px;
    height:26px;
    background: #FFC300;
    border:none;
    border-radius:3px;
    color:#ffffff;
}
.btn_TblPrint{
    width:28px;
    height:26px;
    background: #CBCBCB;
    border:none;
    border-radius:3px;
    color:#00000;
}
.btn_TblPagoApafa{
    height:26px;
    background: var(--teal-light);
    border:none;
    border-radius:3px;
    color:white;
    padding:5px;
}
/*badges payments*/
.requirement_payment{
    background: var(--crimson);
     border:none;
    border-radius:10px;
    color:white;
     padding:5px;
     width:100px;
     margin:auto;
}
.sucess_payment{
   background: var(--success);
    border:none;
    border-radius:10px;
    width:100px;
    color:white;
    padding:5px;
      margin:auto;
}
.btn_add_data{
  width: 170px;
  height: 40px;
  font-size: 15px;
  border-radius: 10px;
  border:none;
  background: var(--vine);
  color:white;
  font-family: var(--font-quicksandRegular)
}
.fa-lg{
  margin-right:10px;
}



/*RESPONSIVE*/
@media screen and (max-width: 600px) {
    .table-general {
        border: 0px;
    }
    .table-general caption {
        font-size: 22px;
    }
    .table-general thead {
        display: none;
    }
    .table-general tr {
        margin-bottom: 8px;
        border-bottom: 4px solid #ddd;
        display: block;
    }
    .table-general th, .table td {
        font-size: 12px;
    }
    .table-general td {
        display: block;
        border-bottom: 1px solid #ddd;
        text-align: right;
    }
    .table-general  td:last-child {
        border-bottom: 0px;
    }
    .table-general td::before {
        content: attr(data-label);
        font-weight: bold;
        text-transform: uppercase;
        float: left;
    }
}

/*estilos danger*/

/*a{
background: #e6e6e6;
color: green;
text-decoration: none;
padding: 5px 15px;
border: 1px solid #c1c1c1;
width: 100px;
display: inline-block;
text-align: center;
}*/